* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

#main_container {
    background-image: -webkit-linear-gradient(-30deg, rgb(23, 131, 226) 50%, rgb(209, 155, 5) 50%);
    height: 100vh;
}

    #main_title {
        animation: colorchange 5s infinite alternate;
        -webkit-animation: colorchange 5s infinite alternate;
    }

    #login_box {
        border: 2px solid white;
        border-radius: 20px;
        color: white;
        text-align: center;
    }

        #login_btn {
            border: 1px solid white;
        }
    
    #reg_link {
        display: inline-block;
        color: white;
        text-decoration: underline;
    }

    #school_logo {
        width: 40vh;
    }

    #qa {
        position: fixed;
        top: 5vh;
        right: 10vw;
        height: 35vh;
    }

    #palm_tree {
        position: fixed;
        bottom: 0;
        right: 0vw;
        height: 75%;
    }

@keyframes colorchange {
    0% {color: rgb(255, 255, 255);}
    50% {color: rgba(255, 187, 0, 0.938);}
    100% {color: rgb(255, 255, 255);}
}

@-webkit-keyframes colorchange {
    0% {color: rgb(255, 255, 255);}
    50% {color: rgba(255, 187, 0, 0.938);}
    100% {color: rgb(255, 255, 255);}
}


